*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/back.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.app
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1
{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    color: #60d394;
}
header p
{
    font-size: 20px;
    color: aqua;
}
#text {
    font-size: 30px;
    color: aqua;
    text-align: center;
}
#textc {
    font-size: 70px;
    color: aqua;
    text-align: center;
    display: none;
}
#textw {
    font-size: 70px;
    color: aqua;
    text-align: center;
    display: none;
}
.type {
    height: 50px;
    width: 120px;
    background-color: red;
    border: 2px solid black;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding-top: 12px;
}
.type:hover {
    cursor: pointer;
    border: 3px solid black;
    color: white;
}
.pads
{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    display: none;
}
.pads:hover {
    cursor: pointer;
}
#notes {
    height: 90px;
    width: 90px;
    display: none;
}
/* Down below selects all the divs inside pads */
.pads > div
{
    height: 100px;
    width:  100px;
    border-right: 2px solid black;
    -moz-box-shadow:    inset 0 0 0px #000000;
    -webkit-box-shadow: inset 0 0 0px #000000;
    box-shadow:         inset 0 0 0px #000000;
    flex: 1;
}
.pads > div:hover {
    -moz-box-shadow:    inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow:         inset 0 0 20px #000000;
}
.pad1
{
    background: #60d394;
}
.pad2
{
    background: #d36060;
}
.pad3
{
    background: #c060d3;
}
.pad4
{
    background: #d3d160;
}
.pad5
{
    background: #636109;
}
.pad6
{
    background: #e60808;
}
.pad7
{
    background: #29d657;
}
.pad8
{
    background: #ed5807;
}
@keyframes jump
{
    0%
    {
        bottom: 0%;
        left: 20%;
    }
    50%
    {
        bottom: 50%;
        left: 50%;
    }
    100%
    {
        bottom: 0%;
        left: 80%;
    }
}
.visual > div
{
    position: absolute;
    height : 50px;
    width : 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
}