*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/back8.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.app
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}
header h1
{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 100px;
    color: #60d394;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 10px 10px black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
}
header p
{
    font-size: 35px;
    color: white;
    font-family: 'Permanent Marker', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #60d394;
}
.para
{
    font-size: 25px;
    padding-left: 60px;
    color: grey;
}
.pads
{
    width: 100%;
    display: flex;
    background: transparent;
}
/* Down below selects all the divs inside pads */
.pads > div
{
    height: 100px;
    width:  100%;
    transition-duration: 0.5s;
    transition-property: transform;
    flex: 1;
    transform: skewX(20deg) scale(1.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    z-index: 100;
    filter: brightness(150%);
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    font-family: 'Mansalva', cursive;
    color: white;

}
.pads > div:hover
{
    transition-duration: 0.5s;
    transition-property: all;
    z-index: 150;
    transform:skewX(20deg) scale(0.9);
    box-shadow: 10px 10px 10px black;
}
.pad1
{
    
    backdrop-filter:blur(10px);
    border-color: #00F96D;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad1:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #00F96D;
}
.pad2
{
    backdrop-filter:blur(10px);
    border-color: #763333;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(195,63,63,0.8);
    //background: linear-gradient(to bottom right, #763333, #FF7E7E);
}
.pad2:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #763333;
}
.pad3
{
    backdrop-filter:blur(10px);
    border-color: #D612FF;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(214,18,255,0.5);
    //background: linear-gradient(to bottom right, #622E6D, #D612FF);
}
.pad3:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #D612FF;
}
.pad4
{
    backdrop-filter:blur(10px);
    border-color: #FFFC00;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(255,252,0,0.5);
    //background: linear-gradient(to bottom right, #545317, #FFFC00);
}
.pad4:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #FFFC00;
}
.pad5
{
    backdrop-filter:blur(10px);
    border-color: #00B3FF;
    border-style: dashed;
    border-width: 5px;
    //background: linear-gradient(to bottom right, #021C27, #00B3FF);
}
.pad5:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #00B3FF;
}
.pad6
{
    backdrop-filter:blur(10px);
    border-color: #FF0000;
    border-style: dashed;
    border-width: 5px;
    //background: linear-gradient(to bottom right, #6C0909, #FF0000);
}
.pad6:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #FF0000;
}
.pad7
{
    
    backdrop-filter:blur(10px);
    border-color: #f5ec42;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad7:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #f5ec42;
}
.pad8
{
    
    backdrop-filter:blur(10px);
    border-color: #010714;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad8:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #010714;
}
.pad9
{
    
    backdrop-filter:blur(10px);
    border-color: #e099a0;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad9:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #e099a0;
}
.pad10
{
    
    backdrop-filter:blur(10px);
    border-color: #33de00;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad10:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #33de00;
}
.pad11
{
    
    backdrop-filter:blur(10px);
    border-color: #050505;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad11:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #050505;
}
.pad12
{
    
    backdrop-filter:blur(10px);
    border-color: #00F96D;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad12:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #00F96D;
}

.pad13
{
    
    backdrop-filter:blur(10px);
    border-color: #D612FF;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad13:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #D612FF;
}
.pad14
{
    
    backdrop-filter:blur(10px);
    border-color: #fff12e;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad14:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #fff12e;
}
.pad15
{
    
    backdrop-filter:blur(10px);
    border-color: #FF0000;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad15:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #FF0000;
}
.pad16
{
    
    backdrop-filter:blur(10px);
    border-color: #2954c2;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad16:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #2954c2;
}
.pad17
{
    
    backdrop-filter:blur(10px);
    border-color: #e099a0;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad17:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #e099a0;
}
.pad18
{
    
    backdrop-filter:blur(10px);
    border-color: #D612FF;
    border-style: dashed;
    border-width: 5px;
    //background: rgba(0,249,109,0.8);
    //background: linear-gradient(to bottom right, #007935, #00F96D);
}
.pad18:hover
{
    transition-duration: 1s;
    transition-property: all;
    background: #0000ff6D;
}

@keyframes jump
{
    0%
    {
        bottom: 0%;
        left: 20%;
    }
    50%
    {
        bottom: 50%;
        left: 50%;
    }
    100%
    {
        bottom: 0%;
        left: 80%;
    }
}
.visual > div
{
    position: absolute;
    height : 50px;
    width : 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    box-shadow: 5px 5px 10px white;
    filter: blur(3px);
}

canvas {
	width: 100%;
    backdrop-filter:blur(40px) brightness(200%) contrast(5);
}

