*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQH3v0eKBwaFSzt4TcAwO8assGI1mqze6ebrDtxUwKMGTW7x38Z");
    background-repeat: no-repeat;
    background-size: cover;
}
.app
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
header h1
{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
    color: #60d394;
}
header p
{
    font-size: 20px;
    color: aqua;
}
.pads
{
    width: 100%;
    display: flex;
}
/* Down below selects all the divs inside pads */
.pads > div
{
    height: 100px;
    width:  100px;
    flex: 1;
}
.pad1
{
    background: #60d394;
}
.pad2
{
    background: #d36060;
}
.pad3
{
    background: #c060d3;
}
.pad4
{
    background: #d3d160;
}
.pad5
{
    background: #636109;
}
.pad6
{
    background: #e60808;
}

@keyframes jump
{
    0%
    {
        bottom: 0%;
        left: 20%;
    }
    50%
    {
        bottom: 50%;
        left: 50%;
    }
    100%
    {
        bottom: 0%;
        left: 80%;
    }
}
.visual > div
{
    position: absolute;
    height : 50px;
    width : 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
}